

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         Category Component
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <div class="container border border-dark p-3">
                <h2>Interpolation(Data Binding)</h2>
                <hr>
                <h5>CategoryId: {{categoryId}} </h5>
                <h5>categoryName: {{categoryName}}</h5>
                <hr>
                {{5+5}}
            </div>        </div>
      </div>
    </div>

